/*  ==========================================================================
    global styles
    ========================================================================== */
    body {
        font-family: 'museo-sans', Arial, Helvetica, sans-serif; 
        font-size: 100%; font-weight:300; line-height: 1.5;
        background:#eee; margin:0; color:#646464;
    }
    ::-moz-selection {
        background: #e900a4; text-shadow: none; color:#fff;
    }
    ::selection {
        background: #e900a4; text-shadow: none; color:#fff;
    }
    p {
        margin: 1em 0;
    }
    input, textarea {
        font-family: 'museo-sans', Arial, Helvetica, sans-serif;
    }
    textarea {
        resize: vertical;
    }
    ul, ol {
        margin:0; padding:0; list-style:none;
    }
    label {
        cursor:pointer;
    }
    youtube-player {
        display: block;
        width: 420px; height: 315px;
    }

    vimeo-player {
        display: block;
        width: 420px; height: 315px;
    }

    embed-code {
        display: block;
    }

/*  ==========================================================================
    c6-copy classes : general type & color styles
    ========================================================================== */
    a {
        text-decoration: none; color:#4a9cd1;
        -webkit-transition: color 0.5s; transition: color 0.5s;
    }
        a:hover {
            border-bottom:1px dotted #13a2ff;
            color:#13a2ff;
        }
    a:focus, button:focus, input:focus, textarea:focus {
        outline:none; border:0;
    }
    .typo--attention {
        color:#d61212;
    }

/*  ==========================================================================
    Helper classes
    ========================================================================== */
    .ir {
        background-color: transparent;
        border: 0; width:0; height:0;
        overflow: hidden; display: block; position:absolute;
    }
    .clearfix:before,
    .clearfix:after {
        content: ' ';
        display: table;
    }
    .clearfix:after {
        clear: both;
    }
    .hidden {
        visibility: hidden;
    }
    .sprite--alpha {
        background:url('../img/sprite--alpha@2x.png') 0 0 / 25rem 25rem no-repeat;
        border:0; margin:0; padding:0; overflow: hidden;
        font-size:1rem; line-height: 1;
    }
    .sprite--fff {
        background:url('../img/sprite--white@2x.png') 0 0 / 50rem 33.25rem no-repeat;
        border:0; margin:0; padding:0; overflow: hidden;
        font-size:1rem; line-height: 1;
    }
    .css-promote {
        transform: translateZ(0);
        -webkit-transform: translateZ(0); /* Safari and Chrome */
    }
    .container {
        max-width:70.5em; margin:0 auto; padding:0 1.5em;
    }

/*  ==========================================================================
    ui classes
    ========================================================================== */
    .ui__gear {
        background-position:0 -2.8125em; display:block;
        width:1.5em; height:1.5em;
    }
    .ui__viewFrame {
        border:0;
        position:absolute;
        width:100%; height:100%;
    }

/*  ==========================================================================
    masthead navigation
    ========================================================================== */
    .mast__group {
        min-height:3.75em; width:100%;
        background:#282b2c; color:#fff;
        position:absolute; z-index:1; top:0;
    }
        .mast {
            position: relative;
        }
        .mainNav {
            float:left;
        }
        .mainNav__list {
            margin:0; padding:0; list-style: none;
        }
            .mainNav__item {
                padding:1.5em 0 0 0; margin:0 2em 0 0; float:left;
            }
            .mainNav__link {
                color:#fff;
            }
            
            .mainNav__c6BrandItem {
                padding:0.4375em 0 0 0; margin-right:3em;
            }
                .mainNav__c6Brand {
                    width:11em; height:2.75em; display: block;
                    font-size:1em;
                    background-position:0 0;
                    border:0; padding:0;
                    cursor:pointer;
                }
        .mast__title {
            font-size:1em; font-weight:300; text-align: center;
            width:100%;
            position:absolute; z-index: -1;
            margin:1.1875em 0 0 0;
        }
    @media screen and (max-width:620px) {
        .mast__group {
            min-height:4.5em;
        }
        .mast__title {
            margin:7px 0 0 0;
        }
        .mainNav__c6BrandItem {
            padding:19px 0 0 0;
        }
    }

/*  ==========================================================================
    userPane__group
    ========================================================================== */
    .userPane__group {
        float:right;
    }
        .userPane__display {
            float:left; margin:1.1875em 0 0 0;
        }
        .userPane__avatar {
            float:left; margin:0.875em 0;
            width:2.75em; height:2.75em;
            background:#000 url('../img/default_square.jpg') center center / cover no-repeat;
        }
        .userPane__settings {
            margin:0;
            cursor:pointer;
            -webkit-transition: all 0.5s; transition: all 0.5s;
        }

    /*  user navigation styles
        ========================================================================== */
        .userNav__group {
            float:left; position:relative;
            margin:1.125em 0 0; padding-left:0.75em;
        }
            .userNav__group:hover {
                padding:0 0 0.5em 0.75em;
            }
                .userNav__group:hover .userPane__settings {
                    transform:rotate(90deg);
                    -ms-transform:rotate(90deg); /* IE 9 */
                    -webkit-transform:rotate(90deg); /* Opera, Chrome, and Safari */
                }
                .userNav__group:hover .userNav__child {
                    display:block;
                }
            .userNav__child {
                display:none;
                position:absolute; right:0; top:100%;
                
                -webkit-box-shadow: 3px 3px 5px 0 rgba(0,0,0,0.5);
                box-shadow: 3px 3px 5px 0 rgba(0,0,0,0.5);
            }
                .userNav__item {
                    border-bottom:1px solid #ccc; 
                }
                .userNav__btn {
                    background:white;
                    margin:0; padding:0.75rem 0.5rem; border:0;
                    -webkit-transition: all 0.625s; transition: all 0.5s;
                    width:9rem; 
                    font-size:0.875rem; line-height:1;
                    cursor:pointer;
                }
                    .userNav__btn:hover {
                        background:#eff9ff;
                    }
        @media screen and (max-width:620px) {
            .userPane__display {
                margin:31px 0 0 0;
            }
            .userNav__group {
                margin:30px 0 0 0;
            }
        }

/*  ==========================================================================
    login styles
    ========================================================================== */
    .login__group {
        position:absolute; top:50%; left:50%;
        margin:-6.875em 0 0 -12.1875em;
    }
        .login__title {
            font-size:0.875em; font-weight:300; text-align: center;
            color:#949494;
            margin:0 0 0.5em 0;
        }
        .login__form {
            border:3px solid #ccc;
            -webkit-border-radius: 5px; border-radius: 5px;
            width: 21em; display: block;
            padding: 1.5em;
            background:white;
        }
            .login__label {
                width:6rem; display: inline-block;
                font-size:0.875em;
            }
            .login__input {
                width:14em;
                padding:0.25em; border:2px solid #b0b0b0;
                -webkit-border-radius: 0.25em; border-radius: 0.25em;
                font-size:1em;
                background:#f4f4f4;
                margin:0 0 0.5em;
                -webkit-transition:all 0.5s; transition:all 0.5s;
            }
                .login__input:focus {
                    border:2px solid #4a9cd1;
                    background:#eff9ff;
                }
        .login__error {
            text-align: left;
            font-size:0.875em; font-weight:700;
            margin:0 0 1rem 6.25rem;
            color:#d61212;
        }
        .login__submitBtn {
            margin:0 0 0 6.25rem; padding:0.6875rem 1.5rem 0.625rem 1.5rem; 
            border:0; border-radius:0.25em;
            font-size:1.125em; color:#fff; font-weight:700; line-height: 1;
            background:#4a9cd1;
            cursor:pointer;
            -webkit-transition: background 0.5s; transition: background 0.5s;
        }
            .login__submitBtn:hover {
                background:#13a2ff;
            }


/*  ==========================================================================
    footer
    ========================================================================== */
    .footer__group {
        padding:0.875rem 0 0.8125rem 0;
        color:#7d7d7d; text-align: center; font-size:0.75em;
        background:#262626;
        width:100%;
        position:absolute; bottom:0; z-index:1;
    }