<form id="change_password" ng-submit="submit()">
    <p>Change your password </p>
    <label for="change_password0" > Original Password </label>
    <input id="change_password0" type="password" ng-model="password[0]" name="password0" autocomplete="off">
    <br>
    <label for="change_password1" > New Password </label>
    <input id="change_password1" type="password" ng-model="password[1]" name="password1" autocomplete="off">
    <br>
    <label for="change_password2" > Confirm New Password </label>
    <input id="change_password2" type="password" ng-model="password[2]" name="password2" autocomplete="off">

    <input type="submit" value="Change Password" ng-disabled="invalid()">
</form>

