<form name="theForm" id="change_password" ng-submit="submit()">
    <p>Change your password </p>
    <label for="change_password0" > Password </label>
    <input id="change_password0" type="password" name="password0" ng-model="password[0]" autocomplete="off" required ng-minlength="1" ng-maxlength="128" ng-trim="false">
    <span class="error" ng-show="theForm.password0.$error.required"> Required </span>
    <span class="error" ng-show="theForm.password0.$error.minlength"> Too short </span>
    <span class="error" ng-show="theForm.password0.$error.maxlength"> Too long </span>
    <br>
    <input id="change_password1" type="password" name="password1" ng-model="password[1]" autocomplete="off" required ng-minlength="8" ng-maxlength="128" ng-trim="false">
    <span class="error" ng-show="theForm.password1.$error.required"> Required </span>
    <span class="error" ng-show="theForm.password1.$error.minlength"> Too short </span>
    <span class="error" ng-show="theForm.password1.$error.maxlength"> Too long </span>
    <br>
    <input id="change_password2" type="password" name="password2" ng-model="password[2]" autocomplete="off" required ng-trim="false">
    <span class="error" ng-show="theForm.password2.$error.required"> Required </span>
    <span class="error" ng-show="password[1] !== password[2]"> Do not match </span>
    <br>
    <input type="submit" value="Change Passowrd" 
        ng-disabled="((!theForm.$valid) || (password[1] !== password[2]))">
    <div>
        <span>{{lastStatus}}</span>
    </div>
</form>
