<div class="container">
    <div class="error__group clearfix">
        <div class="error__return">&lsaquo; <a href="/#/apps" title="Dashboard">Back to the Dashboard</a></div>
        <div class="error__copy">
            <h1 class="error__title">Oops!</h1>
            <p>{{errorMessage}}</p>
        </div>
        <div class="error__videoBox">
            <div class="error__player">&nbsp;</div>
            <p>Our technical support staff is working hard to address this issue.</p>
        </div>
    </div>
</div>