<div class="login-container valign-outer">
    <div class="valign-inner">
        <!--        <h2 class="login-title"> Cinema6</h2> -->
        <form class="login-form" ng-submit="login()">
            <span class="login-label" > Username </span>
            <input class="login-input" type="text" name="username" ng-model="username" autofocus autocomplete="off">
            <span class="login-label"> Password </span> 
            <input class="login-input" type="password" name="password" ng-model="password" autocomplete="off" >
            <p class="login-error" >{{loginError}}</p>
            <input type="submit" value="Login">
        <form>
    </div>
</div>
